<h2>
  Edit a Developer
</h2>

<%= form_for @developer, url: developer_path(id: @developer.id), method: :patch do |f| %>
<p>
  <%= f.label :name %>
  <%= f.text_field :name %>
</p>
<p>
  <%= f.label :email %>
  <%= f.text_field :email %>
</p>
<p>
  <%= f.submit "Save" %>
  <%= f.submit "Cancel" %>
</p>
<% end %>
