<h2>Edit a Developer</h2>
<%= form_for @developer, url: developer_path(id: @developer.id), method: :patch do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :email %>
  <%= f.text_field :email %>
  <%= f.submit "Save" %>
  <%= f.submit "Cancel" %>

<% end %>
