<h2>Add a Developer</h2>
<%= form_for @developer, url: developers_path do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :email %>
  <%= f.text_field :email %>
  <%= f.submit "Save" %>

<% end %>
