<h2>
  Log In
</h2>

<%= form_tag sessions_create_path do %>
  <div class="form-group">
    <%= label_tag :email, "email" %>
    <%= text_field_tag :email, "", class: 'form-control', placeholder: 'E-Mail' %>
  </div>
  <div class="form-group">
    <%= label_tag :password, "password" %>
    <%= password_field_tag :password, "", class: 'form-control', placeholder: 'E-Mail' %>
  </div>
    <%= submit_tag "Log In", class: "btn btn-default btn-lg btn-submit" %>
<% end %>
