<h2>Edit a Time Entry</h2>
<%= form_for @time_log, url: time_log_path(id: @time_log.id), method: :patch do |f| %>
<p>
  Date <%= f.date_field :date, value: Time.now.to_date %>
</p>
<p>
  Project <%= f.text_field :project_id %>
</p>
<p>
  Minutes <%= f.number_field(:minutes, in: 1..1440) %>
</p>
<p>
  <%= f.submit "Save" %>
</p>
  <% end %>
