<h2>All the time:</h2>

<% @time_logs.each do |time_log| %>
<%= time_log.date %>  |
<%= time_log.developer.name %>  |
<%= time_log.project_id %>  |
<%= time_log.minutes %> minutes  |
<%= link_to "Edit", edit_time_log_path(time_log.id) %>  |
<%= link_to "Delete", time_log_path(time_log.id), method: :delete %>
<br>
<% end %>
<br>
<%= button_to "New Time Entry", new_time_log_path, method: :get %>
<br>
<%= button_to "New Project", new_project_path, method: :get %>
<br>
<%= button_to "New Developer", new_developer_path, method: :get %>
