<h2>
  New time entry
</h2>

<%= form_for @time_log, url: time_logs_path do |f| %>
<p>
  <%= f.label :date %>
  <%= f.date_field :date, value: Time.now.to_date %>
</p>
<p>
  <%= f.label :project_id, :Project %>
  <%= f.select :project_id, Project.all.collect { |p| [p.name, p.id] }, include_blank: true %>
</p>
<p>
  <%= f.label :minutes %>
  <%= f.number_field :minutes, step: 15, in: 0..1440 %>
</p>
<p>
  <%= f.submit "Save" %>
</p>
<% end %>

<% if @time_log.errors.any? %>
<ul>
  <% for message_error in @time_log.errors.full_messages %>
  <li>
    <%= message_error %>
  </li>
  <% end %>
</ul>
<% end %>
