<h2>
  New time entry
</h2>

<%= form_for @time_log, url: time_logs_path do |f| %>
<p>
  <%= f.label :date %>
  <%= f.date_field :date, value: Time.now.to_date %>
</p>
<p>
  <%= f.label :project %>
  <%= f.select :project, Project.all.collect { |p| [p.name, p.id] }, include_blank: true %>
</p>
<p>
  <%= f.label :minutes %>
  <%= f.number_field(:minutes, in: 1..1440) %>
</p>
<p>
  <%= f.submit "Save" %>
</p>
<% end %>
