<h2>New time entry</h2>
<%= form_for @time_log, url: time_logs_path do |f| %>

<p>
  Date <%= f.date_field :date, value: Time.now.to_date %>
</p>
<p>
  <div>
    <%= f.label :project %><br>
    <select>
      <%= Project.all.each do |project| %>
        <option><%= project.name %></option>
      <% end %>
    </select>
  </div>
</p>
<p>
  Minutes <%= f.number_field(:minutes, in: 1..1440) %>
</p>

<!-- <p>
  <%#= f.label :project_id %>
  <%#= f.text_field :project_id %>
</p> -->
<p>
  <%= f.submit "Save" %>
</p>
  <% end %>
