<table class="table">
  <h2>Projects</h2>
  <th>Name</th>
  <th>ID</th>
  <th>Allowed Time</th>
  <th>Time Entered</th>
  <th></th>
  <tbody>
    <% @projects.each do |project| %>
    <%= content_tag_for :tr, project do %>
    <td>
      <%= project.name %>
    </td>
    <td>
      <%= project.id %>
    </td>
    <td>
      <%= hours_and_minutes(project) %>
    </td>
    <td>
    </td>
    <td>
      <%= link_to "Edit", edit_project_path(project.id) %>  |
      <%= link_to "Delete", project_path(project.id), method: :delete %>
    </td>
    <% end %>
    <% end %>
  </tbody>
</table>
