<h2>
  New project
</h2>

<%= form_for @project, url: projects_path do |f| %>
<p>
  <%= f.label :name %>
  <%= f.text_field :name %>
</p>
<p>
  <%= f.label :max_minutes %>
  <%= f.number_field :max_minutes %>
</p>
<p>
  <%= f.submit "Save" %>
</p>
<% end %>

<% if @project.errors.any? %>
<ul>
  <% for message_error in @project.errors.full_messages %>
  <li>
    <%= message_error %>
  </li>
  <% end %>
</ul>
<% end %>
